/* ==========================================================================
   CV STYLE
   ========================================================================== */

.cvmain {
    float: left;
    width: 80%;
    margin-bottom: 1em;
}
.cvyears {
    float: right;
    font-style: italic;
    color: $muted-text-color;
    width: 20%;
    font-size: 90%;
}
.cv {
    clear: both;
}

.cvdetails {
    margin-top: 0.2em;
    font-size: smaller;
    ul {
        padding-left: 1em;
        list-style-position: inside;
        padding-inline-start: 1em;
    }
    li {
        padding-left: 0em;
    }
}
