/* ==========================================================================
   CV STYLE
   ========================================================================== */

.cvmain {
    float: left;
    width: 80%;
    margin-bottom: 1em;
}
.cvyears {
    float: right;
    font-style: italic;
    color: $muted-text-color;
    width: 20%;
    font-size: 90%;
}
.cv {
    clear: both;
}
